// Initial properties for website
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration-line: none;
}

html{
    overflow-x: hidden;
}

// Container
.container{
    max-width: 1280px;
    margin: 0 auto;

    // Header
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
        .navbar{
            display: flex;
            align-items: center;
            .navbar__list{
                display: flex;
                list-style-type: none;
                margin-right: 48px;
                .navbar__list--item{
                    margin-right: 24px;
                    a{
                        font-size: 14px;
                        line-height: 16px;
                        color: #000000;
                        font-weight: 600;
                        transition: 0.2s;
                        &:hover{
                            color: #F25822;
                        }
                    }
                    
                }
            }
            .navbar__login--btn{
                font-size: 12px;
                line-height: 14px;
                color: #FFFFFF;
                padding: 12px 26px;
                background-color: #F25822;
                border-radius: 30px;
                border: none;
                transition: 0.2s;
                &:hover{
                    box-shadow: 0px 0px 20px 1px rgba(242,88,34,0.69);
                    -webkit-box-shadow: 0px 0px 20px 1px rgba(242,88,34,0.69);
                    -moz-box-shadow: 0px 0px 20px 1px rgba(242,88,34,0.69);
                }
            }
        }
    }

    // Intro section
    .intro__section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 72px;

        .intro__text-side{
            flex-basis: 70%;
            .intro__text-side--heading{
                font-size: 60px;
                line-height: 70px;
            }
            .intro__text-side--paragraph{
                font-size: 20px;
                line-height: 23px;
                color: #888888;
                margin: 30px 0;
                width: 80%;
            }
            .intro__text-side--watch-btn{
                display: flex;
                align-items: center;
                button{
                    margin-right: 28px;
                    font-size: 15px;
                    line-height: 18px;
                    color: #FFFFFF;
                    padding: 15px 35px;
                    background-color: #F25822;
                    border-radius: 30px;
                    border: none;
                    transition: 0.2s;
                    &:hover{
                        box-shadow: 0px 0px 20px 1px rgba(242,88,34,0.69);
                        -webkit-box-shadow: 0px 0px 20px 1px rgba(242,88,34,0.69);
                        -moz-box-shadow: 0px 0px 20px 1px rgba(242,88,34,0.69);
                    }
                }
                a{
                    display: flex;
                    align-items: center;
                    font-size: 15px;
                    line-height: 18px;
                    color: #AAAAAA;
                    font-weight: 600;
                    svg{
                        margin-right: 15px;
                    }
                }
            }
        }

        .intro__img-side{
            img{
                width: 100%;
            }
        }
    }

    // Partners
    .partners{
       display: flex; 
       justify-content: space-around;
       align-items: center;
       margin: 86px 0;
       flex-wrap: wrap;
       img{
        transition: 1.2s;
           &:hover{
            transform: scale(1.2);
           }
       }
    }
}


// Solution
.solution{
    background-color: #FAFAFA;
    background-image: url('../images/element.png');
    background-repeat: no-repeat;
    background-position-y: -128px;
    background-position-x: -200px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .solution__text-side{
            h3{
                font-size: 45px;
                line-height: 53px;
                color: #000000;
            }
            p{
                font-size: 16px;
                line-height: 150%;
                /* or 24px */
                color: #666666;
                margin: 20px auto 35px;
            }
            button{
                margin-right: 28px;
                font-size: 15px;
                line-height: 18px;
                color: #FFFFFF;
                padding: 15px 35px;
                background-color: #F25822;
                border-radius: 30px;
                border: none;
                transition: 0.2s;
                &:hover{
                    box-shadow: 0px 0px 20px 1px rgba(242,88,34,0.69);
                    -webkit-box-shadow: 0px 0px 20px 1px rgba(242,88,34,0.69);
                    -moz-box-shadow: 0px 0px 20px 1px rgba(242,88,34,0.69);
                }
            }
        }
    }
}


// Solution__list
.solution__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
    .solution__list-item{
        padding: 40px 30px;
        flex-basis: 30%;
        transition: 0.2s;
        border-radius: 10px;
        &:hover{
            box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
        }
        h4{
            margin: 25px 0 17px;
            font-size: 24px;
            line-height: 28px;
        }
        p{
            font-size: 15px;
            line-height: 150%;
            /* or 22px */
            color: #666666;
        }
        a{
            font-size: 11px;
            line-height: 150%;
            /* identical to box height, or 16px */
            color: #000000;
            font-weight: 800;
            margin-top: 25px;
            display: inline-block;
        }
    }
}

// Features
.features{
    text-align: center;
    padding: 100px 0;
    background: #FAFAFA;
    .features__title{
    font-size: 45px;
    line-height: 53px;
    color: #000000;
    }
    .features__paragraph{
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #666666;
        margin: 20px auto 54px;
        width: 60%
    }
    .application__list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .application__list--item{
            flex-basis: 30%;
            transition: 0.2s;
            &:hover{
                box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
            }
            img{
                width: 100%;
            }
            background-color: #FFFFFF;
            padding: 15px 30px 50px;
            border-radius: 10px;
            h4{
                font-size: 24px;
                line-height: 28px;
                color: #000000;
                padding-top: 16px;
            }
            p{
                font-size: 15px;
                line-height: 150%;
                /* or 22px */
                text-align: center;
                color: #AAAAAA;
                padding: 20px 0 40px;
            }
            button{
                font-size: 15px;
                line-height: 18px;
                color: #FFFFFF;
                padding: 15px 35px;
                background-color: #F25822;
                border-radius: 30px;
                border: none;
                transition: 0.2s;
                &:hover{
                    box-shadow: 0px 0px 20px 1px rgba(242,88,34,0.69);
                    -webkit-box-shadow: 0px 0px 20px 1px rgba(242,88,34,0.69);
                    -moz-box-shadow: 0px 0px 20px 1px rgba(242,88,34,0.69);
                }
            }
        }
    }
}

// Answers
.answers{
    padding: 60px 0 30px;
    .container{
        display: flex;
        align-items: center;
        .answers__img{
            img{
                width: 120%;
                position: relative;
                z-index: -1;
                left: -130px;
            }
        }
        .answers__text-side{
            padding: 17px 30px;
            .answers__text-side--heading{
                font-size: 45px;
                line-height: 53px;
            }
            .answers__text-side--paragraph{
                font-size: 16px;
                line-height: 150%;
                color: #666666;
                margin: 20px 0 56px;
            }
            .answers__text-side--element{
                padding: 17px 30px;
                display: flex;
                align-items: center;
                transition: 0.2s;
                border-radius: 10px;
                &:hover{
                    background: #FFFFFF;
                    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
                }
                svg{
                    margin-right: 30px;
                }
                h6{
                    font-size: 20px;
                    line-height: 150%;
                }
                p{
                    font-size: 15px;
                    line-height: 150%;
                    color: #666666;
                    padding: 8px 0 16px;
                }
            }
        }
    }
}

// statistics
.statistics{
    padding: 100px 0;
    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 36px 32px;
        border: 2px solid #EEEEEE;
        border-radius: 16px;
        .stc__number{
            color: #666666;
            font-weight: 700;
            text-align: center;
            span{
                &:nth-child(1){
                    font-size: 70px;
                }
                &:nth-child(2){
                    font-size: 18px;
                }
            }
        }
    }
}

// check website
.container{
    .check-website{
        display: flex;
        align-items: center;
        .check-website__text-side{
            .check-website__text-side--heading{
                font-size: 45px;
                line-height: 150%;
            }
            .check-website__text-side--paragraph{
                font-size: 16px;
                line-height: 150%;
                color: #666666;
                margin: 16px 0 36px;
            }
            .check-website__text-side--forms{
                display: flex;
                align-items: center;
                form{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .check-website__input{
                        padding: 16px 20px;
                        outline: none;
                        background: #EEEEEE;
                        border-color: #eeeeee59;
                    }
                    .check-website__input:nth-child(1){
                        border-radius: 50px 0 0 50px;
                        border-width: 0 1.5px 0 0;
                    }
                    .check-website__input:nth-child(2){
                        border-radius: 0 50px 50px 0 ;
                        border-width: 0 0 0 2px;
                    }
                    button{
                        margin-left: 30px;
                        font-size: 15px;
                        line-height: 18px;
                        color: #FFFFFF;
                        padding: 15px 35px;
                        background-color: #F25822;
                        border-radius: 30px;
                        border: none;
                        transition: 0.2s;
                        &:hover{
                            box-shadow: 0px 0px 20px 1px rgba(242,88,34,0.69);
                            -webkit-box-shadow: 0px 0px 20px 1px rgba(242,88,34,0.69);
                            -moz-box-shadow: 0px 0px 20px 1px rgba(242,88,34,0.69);
                        }
                    }
                }
            }
        }
        .check-website__img-side{
            z-index: -1;
        }
    }   
}

// Plans
.plans{
    text-align: center;
    padding: 100px 0;
    background-color: #FAFAFA;
    .plans__heading{
        font-size: 45px;
        line-height: 150%;
    }
    .plans__prg{
        font-size: 16px;
        line-height: 150%;
        color: #666666;
        padding: 8px 0 86px;
    }
    .plans__list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .plan__list--item{
            padding: 70px 80px;
            flex-basis: 30%;
            background-color: #FFFFFF;
            border-radius: 20px;
            transition: 0.6s;

            &:hover{
                transform: scale(1.04);
                .plan__list--item-heading{
                    color: #F25822;;
                }
                button{
                    color: #FFFFFF;
                    background: #F25822;
                    box-shadow: 0px 0px 20px 1px rgba(242,88,34,0.69);
                            -webkit-box-shadow: 0px 0px 20px 1px rgba(242,88,34,0.69);
                            -moz-box-shadow: 0px 0px 20px 1px rgba(242,88,34,0.69);
                }
            }
            .plan__price-line{
                sup{
                    position: relative;
                    top: -30px;
                    font-size: 24px;
                    margin-right: 8px;
                }
                h2{
                    display: inline;
                    font-size: 70px;
                    line-height: 150%;
                    font-family: inherit;
                }
            }
            p{
                font-size: 16px;
                line-height: 250%;
                color: #666666;
            }
            button{
                padding: 12px 64px;
                background: rgba(242, 88, 34, 0.25);
                border-radius: 50px;
                font-size: 13px;
                line-height: 250%;
                color: #F3602D;
                border: none;
                font-weight: 700;
                margin-top: 24px;
                transition: 1.2s;
            }
        }

    }
}

// team member
.team-member{
    text-align: center;
    .team-member__heading{
        font-size: 45px;
        line-height: 150%;
    }
    .team-member__prg{
        font-size: 16px;
        line-height: 150%;
        color: #666666;
        margin-bottom: 52px;
    }
    .team-member__list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 100px 0;
        .team-member__list-item{
            flex-basis: 23%;
            padding: 50px 70px;
            border: 1px solid #EEEEEE;
            border-radius: 10px;

            &:hover{
                background: #FFFFFF;
                box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.1);
                border: none;
                h4{
                    color: #F25822;
                }
            }
            h4{
                font-size: 20px;
                line-height: 150%;
                margin-top: 14px;
            }
            p{
                font-size: 13px;
                line-height: 150%;
                color: #888888;
                margin-bottom: 16px;
            }
            ul{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                list-style-type: none;
                li{
                    padding: 0px 5px;
                    border-radius: 50%;
                    transition: 0.6s;
                    &:hover{
                        background-color: #F25822;
                        svg{
                            path{
                                fill: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
    }
}


// Footer
.footer{
    padding: 100px 0 20px;
    background-color: #F3F3F3;
    .container{
        display: flex;
        justify-content: space-between;
        .logo-side{
            flex-basis: 25%;
            p{
                font-size: 16px;
                line-height: 160%;
                color: #666666;
                margin: 48px 0 16px;
            }
            ul{
                display: flex;
                align-items: center;
                list-style-type: none;
                li{
                    padding: 0px 5px;
                    border-radius: 50%;
                    transition: 0.6s;
                    margin-right: 20px;
                    &:hover{
                        background-color: #F25822;
                        svg{
                            path{
                                fill: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
        .site-map{
            display: flex;
            ul{
                padding: 0 72px;
                list-style-type: none;
                h4{
                    font-size: 24px;
                    line-height: 160%;
                    margin-bottom: 36px;
                }
                li{
                    margin-bottom: 10px;
                    font-size: 16px;
                    line-height: 230%;
                    color: #666666;
                    font-weight: 600;
                    cursor: pointer;;
                    svg{
                        vertical-align: middle;
                        margin-right: 8px;
                    }
                }
            }
        }

        .contact{
            flex-basis: 20%;
            .contact__header{
                font-size: 24px;
                line-height: 230%;
                color: #000000;
            }
            p{
                span{
                    color: black;
                }
                font-size: 16px;
                line-height: 230%;
                color: #666666;
                font-weight: 600;
                a{
                    color: #666666;  
                }
            }
        }
    }
    .hr-line{
        max-width: 1280px;
        margin: auto;
        text-align: center;
        hr{
            margin: 50px 0 20px;
            border: 1px solid #CCCCCC;
        }
        p{
            font-size: 16px;
            line-height: 230%;
            color: #888888
        }
    }
}

@media only screen and (max-width: 1280px) {
    // Container
    .container{
        width: 90%;
        
        // Intro section
        .intro__section{
            .intro__text-side{
                .intro__text-side--heading{
                    font-size: 48px;
                    line-height: 64px;
                }
                .intro__text-side--paragraph{
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }

        // partners
        .partners{
            img{
                margin: 0 10px 10px;
            }
        }
    }

    // solution
    .solution{
        .container{
            .solution__text-side{
                flex-basis: 50%;
                h3{
                    font-size: 42px;
                    line-height: 48px;
                }

            }

            .solution__img-side{
                .solution--img{
                    width: 100%;
                }
            }
        }
    }

    .container{

        // solution list
        .solution__list{
            .solution__list-item{
                h4{
                    font-size: 22px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }

    // features
    .features{

        .container{
            .features__title{
                font-size: 42px;
                line-height: 48px;
            }

            .application__list{
                .application__list--item{
                    h4{
                        font-size: 22px;
                        line-height: 26px;
                    }
                    p{
                        font-size: 14px;
                        padding: 20px 0 30px;
                    }
                    button{
                        font-size: 14px;
                        padding: 14px 32px;
                    }
                }
            }
        }
    }

    // answers
    .answers{
        .container{
            .answers__img{
                img{
                    width: 120%;
                    position: relative;
                    z-index: -1;
                    left: -72px;
                }
            }

            .answers__text-side{
                .answers__text-side--heading{
                    font-size: 38px;
                    line-height: 48px;
                }
            }
        }
    }

    // statistics
    .statistics{
        .container{
            .stc__number{
                span{
                    &:nth-child(1){
                        font-size: 56px;
                    }
                }
            }
        }
    }

    // check-website
    .container{
        .check-website{
            padding: 0 0 60px;
            .check-website__text-side{
                .check-website__text-side--heading{
                    font-size: 38px;
                }
                .check-website__text-side--forms{
                    .check-website__input{
                        padding: 14px 18px !important;
                    }

                    button{
                        padding: 14px 34px;
                    }
                }
            }
            .check-website__img-side{
                img{
                    width: 100%;
                }
            }
        }
    }
}